

    {{#each beersFromApi}}
    <div>
        <img src="{{this.image_url}}" alt="beers" width="100px">
        <p>Name: {{this.name}}</p>
        <p>Description: {{this.description}}</p>
        <p>Targline: {{this.tagline}}</p>

    </div> 

     


    {{/each}}
